.app-layout {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .page-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .login-background {
    background-image: url('/pizza_images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* App.css */
.backend-msg {
  background-color: #f0f8ff;
  padding: 10px;
  border-left: 5px solid #007bff;
  margin-bottom: 20px;
}
